services:
  blazor:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_URLS=http://+:8080
      # nom "Default" à adapter si ta connection string s'appelle autrement
      - ConnectionStrings__DefaultConnection=Data Source=/data/QRCode_Generator.db
    volumes:
      - sqlite_data:/data
    restart: unless-stopped

volumes:
  sqlite_data:
